<div class="container" data-ng-controller="HeaderController">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
    <ul class="nav navbar-nav navbar-left" data-ng-show="true">
      <li data-ui-sref-active="active" ng-hide="authentication.user">
        <a data-ui-sref="home">Home</a>
      </li>
      <li data-ui-sref-active="active" ng-hide="authentication.user">
        <a data-ui-sref="home#features">Features</a>
      </li>
      <li data-ui-sref-active="active" ng-hide="authentication.user">
        <a data-ui-sref="home#preview">Preview</a>
      </li>
      <li data-ui-sref-active="active">
        <a data-ui-sref="home#contact">Contact</a>
      </li>

      <li data-ui-sref-active="active" ng-show="authentication.user">
          <a data-ui-sref="products.list">Dashboard</a>
      </li>
    </ul> 
    <ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
      <li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.type" data-ng-class="{ active: $state.includes(item.state), dropdown: item.type === 'dropdown' }" class="{{item.class}}" dropdown="item.type === 'dropdown'">
        <a ng-switch-when="dropdown" class="dropdown-toggle" dropdown-toggle role="button">{{::item.title}}&nbsp;<span class="caret"></span></a>
        <ul ng-switch-when="dropdown" class="dropdown-menu">
          <li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" data-ui-sref-active="active">
            <a data-ui-sref="{{subitem.state}}" data-ng-bind="subitem.title"></a>
          </li>
        </ul>
        <a ng-switch-default data-ui-sref="{{item.state}}" data-ng-bind="item.title"></a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
      <!--<li data-ui-sref-active="active">
        <a data-ui-sref="authentication.signup">Sign Up</a>
      </li>-->
      <li class="divider-vertical"></li>
      <li data-ui-sref-active="active">
        <a data-ui-sref="authentication.signin">Sign In</a>
      </li>
    </ul>   
    <ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
      <li class="dropdown" dropdown>
        <a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button">
          <img data-ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image" />
          <span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li data-ui-sref-active="active">
            <a data-ui-sref="settings.profile">Edit Profile</a>
          </li>
          <li data-ui-sref-active="active">
            <a data-ui-sref="settings.picture">Change Profile Picture</a>
          </li>
          <li data-ui-sref-active="active" data-ng-show="authentication.user.provider === 'local'">
            <a data-ui-sref="settings.password">Change Password</a>
          </li>
          <li data-ui-sref-active="active">
            <a data-ui-sref="settings.aws">Change AWS Credentials</a>
          </li>
          <li data-ui-sref-active="active">
            <a data-ui-sref="settings.accounts">Manage Accounts</a>
          </li>
          
          <li class="divider"></li>
          <li>
            <a href="/api/auth/signout" target="_self">Signout</a>
          </li>
        </ul>
      </li>
    </ul>
    <section data-ng-controller="EditProfileController">
    <ul class="nav navbar-nav navbar-left" data-ng-show="authentication.user" style="padding-left:150px">
      <form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)"autocomplete="off">
      <fieldset>
          <label for="threshold" style="color:white" >Threshold</label>
          <input type="text" id="threshold" name="threshold" data-ng-model="user.threshold" placeholder="Threshold">
          <a style="padding-left:25px"></a>
          <label for="fromTimeFrame" style="color:white"> From:</label>
          <input type="text" onfocus="(this.type='date')" id="fromTimeFrame" name="fromTimeFrame" data-ng-model="user.fromTimeFrame" placeholder="fromTimeFrame">
          <a style="padding-left:25px"></a>
            <label for="toTimeFrame" style="color:white"> To:</label>
          <input type="text" onfocus="(this.type='date')" id="toTimeFrame" name="toTimeFrame" data-ng-model="user.toTimeFrame" placeholder="toTimeFrame">
          <a style="padding-left:25px"></a>
          <button type="submit" class="btn btn-primary">Save</button>

        <div data-ng-show="success" class="text-center text-success">
          <strong>Profile Saved Successfully</strong>
        </div>
        <div data-ng-show="error" class="text-center text-danger">
          <strong data-ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
    </ul>
  </section>
  </nav>
</div>