<body style="overflow: auto;">        
    <div style="overflow:hidden;">
    	<header class="header" id="header">
    		<div class="container">
    			<div>
    				<img src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/787/s300/10423817-585154291587884-2436342222591743854-n.png" height="20%" width="20%">
    			</div>
    			<h1 class="make-it-bright">Amazon Product Reporting Tool</h1>
    		</div>
    	</header>

    	<!--here we should put a brief summary or samples of our app, so make this the learn more section-->
    	<section>
    		<h1>preview stuff(delete me)</h1>
    	</section>

    	<!--here we will put the contact information and contact form-->
    	<section class="business-talk">
    		<div class="container" id="contact">
    			<h2 class="make-it-bright">Let Us Show You How We Can Make Your Life Easier</h2>
    		</div>
    	</section>
    	<h1>contact stuff</h1>


    	<div class="container">
    		<div>
    			<img src="https://www.cise.ufl.edu/sites/default/files/logo-ufcise-clear-4.png" align="right">
    		</div>
    	</div>
    </div>
</body>
