<body style="overflow: auto;">        
    <div style="overflow:hidden;">
    	<div class="header">
    		<div class="container">
    			<div style="padding:50px"></div>
    			<h1 style="color:blue">Amazon Product Reporting Tool</h1>
    		</div>
    	</div>

    	
    	<!--here we should put a brief summary or samples of our app, so make this the learn more section-->
        <div class="double-border cool-background" style="color:lightblue" align="middle">
            <a name="features"></a>
            <div style="padding:25px"></div>
        		<h4> This top-of-the-line reporting tool allows Amazon Prime sellers to easily keep track of their profit margins and other business metrics for their products. </h4>

            <div style="padding:15px"></div>
                <h4>Featuring:</h4>

            <div style="padding:5px"></div>
                <ul style="list-style-type:none"><strong>
                    <li>Sku Report</li>
                    <li>Brand Report</li>
                    <li>Profit Margins</li>
                    <li>Automatically adjusts current FBA fees</li>
                    <li>FBA Percentage</li>
                    <li>Customizable Timeframes</li>
                    <li>Customizable Profit Margin Threshold</li>
                    <li>Clearly Displays those products that are in danger of not meeting the Threshold</li></strong>
                </ul>

            <div style="padding:25px"></div>
        </div>

        <div style="padding:5px"></div>

    	<!--here we will put the contact information and contact form-->
    	<section class="business-talk">
            <a name="preview"></a>
            <div class="container">
                <h2 style="color:lightblue">Let Us Show You How We Can Make Your Life Easier</h2>
                <div style="padding:20px"></div>
                <div class="container">
                    <div col-xs-4>
                        <img src="modules/core/img/brand/Dashboard.png" height="75%" width="75%"/>
                    </div>
                <div style="padding:10px"></div>
                    <div col-xs-4>
                        <img src="modules/core/img/brand/SKU_screenshot.png" height="75%" width="75%"/>
                    </div>
                </div>
            </div>
            <div style="padding:10px"></div>
    	</section>
    	<div class="footer" align="middle">
            <div>
                <section class="main-section contact">
                    <div class="row">
                        <div class="contact-info-box address clearfix" style="color:lightblue">
                            <div>
                              <h3><i class="fa-pencil"></i>Email:</h3>
                              <span>hello@gainesvilledevacademy.com</span>
                            </div>              
                            <div>
                              <h3><i class="fa-clock-o"></i>Hours:</h3>
                              <span><strong>Monday - Friday:</strong> 10am - 7:30pm<br><strong>Saturday - Sunday:</strong> By appointment only.</span>
                            </div>
                        </div>
                    </div>
                </section>
            <a name="contact"></a>
            </div>
        </div>
    </div>
</body>
