<body>
<section data-ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <!--put emblem here-->
    </div>
    <br>
    <div class="row">
      <h1>
        DashBoard
      </h1>
    </div>
    <div class="row">
      <p>
        <!--<a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Learn more</a>     here you can put some button or something-->
    </div>
  </div>
  <div>
<section class="tab" ng-controller="TabController as tab">
  <ul class="nav nav-pills">
    <li ng-class="{ active: tab.isSet(1) }">
      <a href ng-click="tab.setTab(1)">SKU</a></li>
    <li ng-class="{ active: tab.isSet(2) }">
      <a href ng-click="tab.setTab(2)">BRAND</a></li>
  </ul>
  <div ng-show="tab.isSet(1)">
    <h4>Sku-Report</h4>
    <div ng-app="myApp" ng-controller="customersCtrl"> 
      <div id="table-scroll">
        <table>
          <tr>
            <th>#</th>
            <th>SKU</th>
            <th>QTY</th>
            <th>REV</th>
            <th>FBA $</th>
            <th>FBA %</th>
            <th>Commission</th>
            <th>Profit Margin</th>
            <th>Product Margin</th>
          </tr>
          <tr ng-repeat="x in names">
            <td>{{ $index + 1 }}</td>
            <td>{{ x.Name }}</td> <!--put column values here-->
            <td>{{ x.Country }}</td>
            <td>{{ x.City }}</td>
          </tr>
        </table>
        <a data-ui-sref="SKU"
          valign="bottom" align="middle"><button type="button"> More </button>
        </a>
      </div>
    </div>
  </div>
  <div ng-show="tab.isSet(2)">
    <h4>Brand-Report</h4>
    <div ng-app="myApp" ng-controller="customersCtrl"> 
      <div id="table-scroll">
        <table>
          <tr>
            <th>#</th>
            <th>BRAND</th>
            <th>QTY</th>
            <th>REV</th>
            <th>FBA $</th>
            <th>FBA %</th>
            <th>Commission</th>
            <th>Profit Margin</th>
            <th>Product Margin</th>
          </tr>
          <tr ng-repeat="x in names">
            <td>{{ $index + 1 }}</td>
            <td>{{ x.Name }}</td> <!--put column values here-->
            <td>{{ x.Country }}</td>
            <td>{{ x.City }}</td>
          </tr>
        </table>
        <a data-ui-sref="Brand"
          valign="bottom" align="middle"><button type="button"> More </button>
        </a>
      </div>
    </div>
  </div>
  </div>
</section>
</section>
</body>
