<link rel="stylesheet" href="http://css-spinners.com/css/spinner/throbber.css" type="text/css">
<section class="cool-background" data-ng-controller="productsController" data-ng-init="find()">
    <h4 class="make-it-bright">Brand-Report</h4>
    <div ng-show="loadInfo" align="middle">
        <div class="throbber-loader">
            Loading…
        </div>
    </div>
    <div ng-app="myApp" ng-controller="productsController">
        <div class="big-table-scroll" align="middle">
            <table class="table1">
                <tr>
                    <th>#</th>
                    <th>BRAND</th>
                    <th>QTY</th>
                    <th>REV</th>
                    <th>FBA $</th>
                    <th>FBA %</th>
                    <th>Commission</th>
                    <th>Profit Margin</th>
                    <th>Product Margin</th>
                </tr>
                <tr ng-repeat="x in products | limitTo:totalDisplayed">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ x.sku }}</td> <!--put column values here-->
                    <td>{{ x.quantity }}</td>
                    <td>{{ x.price }}</td>
                    <td>{{ x.fba }}</td>
                    <td>{{ x.fba_per }}</td>
                    <td>{{ x.commission }}</td>
                    <td>{{ x.profit_margin }}</td>
                    <td>{{ x.prod_margin }}</td>
                </tr>
            </table>
            <h5 valign="bottom" align="middle">
                <button class="btn-info active" ng-click="loadMore()" align="middle">Load more</button>
            </h5>
        </div>
    </div>
</section>