<link rel="stylesheet" href="http://css-spinners.com/css/spinner/throbber.css" type="text/css">
<section data-ng-controller="productsController" data-ng-init="find()">
  <body>
      <div class="container-fluid">
          <div class="rectangle-box col-xs-5"> 
              <div class="rectangle-content">
                  <div><span>
                      
                   <h2>Revenue</h2>
                   <h4>$1,000,000</h4>
                   </span></div>
              </div>
          </div> 
          <div class="rectangle-box col-xs-5">
              <div class="rectangle-content">
                  <div><span>
                      <h2>Return Rate</h2>
                      <h4>135% </h4>
                  </span></div>
              </div>
          </div> 
          <div class="rectangle-box col-xs-5">
              <div class="rectangle-content">
                  <div><span>
                      <div style="padding:2px"></div>
                           <section class="tab" ng-controller="TabController as tab" style="padding-left:5px">
                               <ul class="nav nav-pills">
                                   <li ng-class="{ active: tab.isSet(1) }">
                                       <a href ng-click="tab.setTab(1)">SKU</a>
                                   </li>
                                   <li ng-class="{ active: tab.isSet(2) }">
                                       <a href ng-click="tab.setTab(2)">BRAND</a>
                                   </li>
                               </ul>
                              <div ng-show="loadInfo" align="middle">
                                  <div class="throbber-loader">
                                    Loading…
                                  </div>
                              </div>
                               <div ng-show="tab.isSet(1)">
                                   <div ng-app="myApp" ng-controller="productsController">
                                       <div>
                                           <table class="table1">
                                               <tr style="font:bold">
                                                   <th>#</th>
                                                   <th>SKU</th>
                                                   <th>QTY</th>
                                                   <th>REV</th>

                                               </tr>
                                               <tr ng-repeat="x in products | limitTo:8">
                                                   <td>{{ $index + 1 }}</td>
                                                   <td>{{ x.sku }}</td> <!--put column values here-->
                                                   <td>{{ x.quantity_purchased }}</td>
                                                   <td>{{ x.price }}</td>
                                               </tr>
                                           </table>
                                           <a data-ui-sref="products.sku" align="bottom" align="middle">
                                               <button type="button" class="btn-info active"> Full Report </button>
                                           </a>
                                       </div>
                                   </div>
                               </div>
                               <div ng-show="tab.isSet(2)">
                                   <div ng-app="myApp" ng-controller="productsController">
                                       <div>
                                           <table class="table1">
                                               <tr>
                                                   <th>#</th>
                                                   <th>BRAND</th>
                                                   <th>QTY</th>
                                                   <th>REV</th>

                                               </tr>
                                               <tr ng-repeat="x in products | limitTo:8">
                                                   <td>{{ $index + 1 }}</td>
                                                   <td>{{ x.sku }}</td> <!--put column values here-->
                                                   <td>{{ x.quantity_purchased }}</td>
                                                   <td>{{ x.price }}</td>
                                               </tr>
                                           </table>
                                           <a data-ui-sref="products.brand" align="bottom" align="middle">
                                               <button type="button" class="btn-info active"> Full Report </button>
                                           </a>
                                       </div>
                                   </div>
                               </div>
                           </section>   

                      <div style="padding:2px"></div> 
                  </span></div>
              </div>
          </div>
          <div class="rectangle-box col-xs-5">
              <div class="rectangle-content">
                  <div><span>
                           <h2>Inventory</h2>
                           <h4>DATA</h4>    
                  </span></div>
              </div>
          </div> 
      </div>
       
</body>