<section data-ng-controller="productsController" data-ng-init="find()">
  <body>
        <div class="container-fluid">
            <table class="table2" background-color:deepskyblue text-align:center>
                <tr>
                    <td id="table2Inside">
                        <div style="padding:2px"></div>
                        <div class="container-fluid dashboardBox">
                            <section>
                                <h2>Revenue</h2>
                                <h4>$1,000,000</h4>
                            </section>
                        </div>
                        <div style="padding:2px"></div>
                    </td>
                    <td id="table2Inside">
                        <div style="padding:2px"></div>
                        <div class="container-fluid dashboardBox">
                            <h2>Return Rate</h2>
                            <h4>135% </h4>
                        </div>
                        <div style="padding:2px"></div>
                    </td>
                </tr>
                <tr>
                    <td id="table2Inside" height="400px">
                        <div style="padding:2px"></div>
                        <div class="container-fluid dashboardBox">
                            <section class="tab" ng-controller="TabController as tab">
                                <ul class="nav nav-pills">
                                    <li ng-class="{ active: tab.isSet(1) }">
                                        <a href ng-click="tab.setTab(1)">SKU</a>
                                    </li>
                                    <li ng-class="{ active: tab.isSet(2) }">
                                        <a href ng-click="tab.setTab(2)">BRAND</a>
                                    </li>
                                </ul>
                                <div ng-show="tab.isSet(1)">
                                    <div ng-app="myApp" ng-controller="productsController">
                                        <div>
                                            <table class="table1">
                                                <tr style="font:bold">
                                                    <th>#</th>
                                                    <th>SKU</th>
                                                    <th>QTY</th>
                                                    <th>REV</th>

                                                </tr>
                                                <tr ng-repeat="x in products">
                                                    <td>{{ $index + 1 }}</td>
                                                    <td>{{ x.sku }}</td> <!--put column values here-->
                                                    <td>{{ x.quantity_purchased }}</td>
                                                </tr>
                                            </table>
                                            <a data-ui-sref="SKU" align="bottom" align="middle">
                                                <button type="button"> More </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="tab.isSet(2)">
                                    <div ng-app="myApp" ng-controller="productsController">
                                        <div>
                                            <table class="table1">
                                                <tr>
                                                    <th>#</th>
                                                    <th>BRAND</th>
                                                    <th>QTY</th>
                                                    <th>REV</th>

                                                </tr>
                                                <tr ng-repeat="x in products">
                                                    <td>{{ $index + 1 }}</td>
                                                    <td>{{ x.sku }}</td> <!--put column values here-->
                                                    <td>{{ x.quantity_purchased }}</td>
                                                </tr>
                                            </table>
                                            <a data-ui-sref="Brand" align="bottom" align="middle">
                                                <button type="button"> More </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div style="padding:2px"></div>
                    </td>

                    <td id="table2Inside">
                        <div style="padding:2px"></div>
                        <div class="container-fluid dashboardBox">
                            <h2>Inventory</h2>
                            <h4>DATA</h4>
                        </div>
                        <div style="padding:2px"></div>

                    </td>
                </tr>
            </table>
        </div>
</body>


  <div class="page-header">
    <h1>Products</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="product in products" data-ui-sref="products.view({productId: product._id})" class="list-group-item">
      <small class="list-group-item-text">
        SKU:
        <span data-ng-bind="product.sku"></span>
        Quantity:
        <span data-ng-bind="product.quantity_purchased"></span>
        Settlement-id:
        <span data-ng-bind="product.settlement_id"></span>
      </small>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="products.$resolved && !products.length">
    No products yet, why don't you <a data-ui-sref="products.create">create one</a>?
  </div>
</section>
