<div style="padding-top:35px"></div>
<link rel="stylesheet" href="http://css-spinners.com/css/spinner/throbber.css" type="text/css">
<section class="cool-background" data-ng-controller="productsController" data-ng-init="findSKU()">
    <h4 class="make-it-bright">Sku-Report</h4>
    <div ng-show="loadInfo" align="middle">
        <div class="throbber-loader">
            Loading…
        </div>
    </div>
    <div ng-app="myApp" ng-controller="productsController">
        <div class="big-table-scroll" align="middle">
            <table class="table1">
                <tr style="font:bold">
                    <th>#</th>
                    <th>SKU</th>
                    <th>BRAND</th>
                    <th>QTY</th>
                    <th>REV</th>
                    <th>FBA $</th>
                    <th>FBA %</th>
                    <th>Profit Margin</th>
                    <th>Product Margin</th>
                    <th>Cost</th>
                </tr>
                <tr ng-repeat="x in products | limitTo:totalDisplayed">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ x._id }}</td> <!--put column values here-->
                    <td>
                        <a ng-show="!editing[$index]" href="#/{{x._id}}">{{x.brand}}</a>
                        <button ng-show="!editing[$index]" ng-click="edit($index)">edit</button>

                        <input ng-show="editing[$index]" type="text" ng-model="x.brand">
                        <button ng-show="editing[$index]" ng-click="update($index)">Update</button>
                        <button ng-show="editing[$index]" ng-click="cancel($index)">Cancel</button>
                    </td>

                    <td>{{ x.quantity }}</td>
                    <td>{{ x.revenue }}</td>
                    <td>{{ x.fbaAmt }}</td>
                    <td>{{ x.fbaPct }}</td>
                    <td>{{ x.profitMargin }}</td>
                    <td>{{ x.productMargin }}</td>
                    <td>
                        <a ng-show="!editing[$index]" href="#/{{x._id}}">{{x.cost}}</a>
                        <button ng-show="!editing[$index]" ng-click="edit($index)">edit</button>

                        <input ng-show="editing[$index]" type="number" ng-model="x.cost">
                        <button ng-show="editing[$index]" ng-click="update($index)">Update</button>
                        <button ng-show="editing[$index]" ng-click="cancel($index)">Cancel</button>
                    </td>
                </tr>
            </table>
            <h5 valign="bottom" align="middle">
                <button class="btn btn-info active" ng-click="loadMore()" align="middle">Load more</button>
            </h5>
        </div>
    </div>
</section>